@font-face {
  font-family: "Bombardier";
  src: url(../fonts/Bombardier.ttf);
}
* {
  box-sizing: border-box;
  font-family: "Bombardier";
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}
* h2, * a, * p, * span {
  width: -moz-fit-content;
  width: fit-content;
  cursor: default;
}
* button {
  background: none;
  border: none;
}
*:not(button):focus {
  outline: none;
}

.pane {
  border: 4px solid #868686;
  background-color: #3E4E5B;
  padding: 12px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3333333333);
  position: relative;
}
.pane .corners::before, .pane .corners::after, .pane.corners::before, .pane.corners::after {
  background-color: #FFFFFF;
  content: "";
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 25%, 25% 25%, 25% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 75% 25%, 25% 25%, 25% 75%, 0 100%);
  height: 16px;
  position: absolute;
  top: -4px;
  width: 16px;
}
.pane .corners::before, .pane.corners::before {
  left: -4px;
}
.pane .corners::after, .pane.corners::after {
  right: -4px;
  transform: rotate(90deg);
}
.pane .corners .wrapper::before, .pane .corners .wrapper::after, .pane.corners .wrapper::before, .pane.corners .wrapper::after {
  background-color: #FFFFFF;
  bottom: -4px;
  content: "";
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 25%, 25% 25%, 25% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 75% 25%, 25% 25%, 25% 75%, 0 100%);
  height: 16px;
  position: absolute;
  width: 16px;
}
.pane .corners .wrapper::before, .pane.corners .wrapper::before {
  left: -4px;
  transform: rotate(270deg);
}
.pane .corners .wrapper::after, .pane.corners .wrapper::after {
  right: -4px;
  transform: rotate(180deg);
}
.pane .heading {
  margin-bottom: 12px;
}
.pane .heading h2 {
  color: #FFFFFF;
  font-size: 32px;
  margin-bottom: 4px;
}
.pane .heading p {
  color: #868686;
  font-size: 18px;
}
.pane .content {
  background-color: #252F38;
  border: 4px solid #1E252B;
}
.pane .info {
  color: #FFFFFF;
}
.pane .info .content {
  padding: 12px;
}
.pane .block {
  background-color: #3E4E5B;
  border: 4px solid #4D5E6E;
  padding: 12px;
}
.pane .block details {
  position: relative;
}
.pane .block details img {
  pointer-events: all;
}
.pane .block details summary::-webkit-details-marker {
  display: none;
}
@media (min-width: 751px) {
  .pane .block details summary::after {
    display: none;
  }
}
.pane .block details:not(open) summary:after {
  background-image: url(../assets/icon/expand.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  content: "";
  height: 22px;
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
}
.pane .block details[open] summary::after {
  background-image: url(../assets/icon/collapse.svg);
}
@media (min-width: 751px) {
  .pane .block details {
    pointer-events: none;
  }
}
.pane .block .title {
  display: block;
  margin-bottom: 8px;
  position: relative;
  font-size: 20px;
}
.pane .block .title::after {
  background-color: #FFFFFF;
  bottom: -2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3333333333);
  content: "";
  height: 2px;
  left: -2px;
  position: absolute;
  width: calc(100% + 4px);
}
.pane .block .title:not(:first-child) {
  margin-top: 12px;
}
.pane .block p {
  font-size: 18px;
  line-height: 24px;
}
.pane .block p:not(.title, :last-child, #item-synergies p) {
  margin-bottom: 6px;
}
.pane .block:not(:first-child) {
  margin-top: 12px;
}
.pane .item {
  border: 1px solid #868686;
  height: 47px;
}
.pane .item a {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
.pane .item a[active] {
  outline: 2px solid #EEE287;
  outline-offset: 3px;
}
.pane .item a[active]:before, .pane .item a[active]:after {
  background-color: #FAFDC3;
  border: 1px solid #A7954F;
  content: "";
  transform: rotate(45deg);
  z-index: 10;
}
.pane .item a[active]::before {
  bottom: -9px;
  height: 10px;
  left: calc((100% - 10px) / 2);
  position: absolute;
  width: 10px;
}
.pane .item a[active]::after {
  bottom: -7px;
  height: 6px;
  left: calc((100% - 6px) / 2);
  position: absolute;
  width: 6px;
}
.pane .item a img {
  display: block;
  left: 5%;
  position: relative;
  width: 90%;
  top: 5%;
}
@media (hover: hover) {
  .pane .item a:hover:not([active]) {
    cursor: pointer;
    outline-offset: -1px;
    outline: 2px solid #EEE287;
  }
}
.pane .item a:focus:not([active]) {
  outline-offset: -1px;
  outline: 2px solid #EEE287;
}

html {
  background-color: #10051A;
}
html body {
  background: linear-gradient(135deg, #1B0B22 25%, transparent 25%), linear-gradient(225deg, #1B0B22 25%, transparent 25%), linear-gradient(315deg, #1B0B22 25%, transparent 25%), linear-gradient(45deg, #1B0B22 25%, transparent 25%);
  background-color: #10051A;
  background-position: top center;
  background-size: 40px 40px;
}
html [rarity=common] {
  background: url(../assets/img/items/bg-common.png) center no-repeat;
  background-size: 100%;
}
html [rarity=uncommon] {
  background: url(../assets/img/items/bg-uncommon.png) center no-repeat;
  background-size: 100%;
}
html [rarity=legendary] {
  background: url(../assets/img/items/bg-legendary.png) center no-repeat;
  background-size: 100%;
}
html [rarity=boss], html [rarity=stage] {
  background: url(../assets/img/items/bg-boss.png) center no-repeat;
  background-size: 100%;
}
html [rarity=void] {
  background: url(../assets/img/items/bg-void.png) center no-repeat;
  background-size: 100%;
}
html [rarity=lunar] {
  background: url(../assets/img/items/bg-lunar.png) center no-repeat;
  background-size: 100%;
}
html [rarity=equipment], html [rarity=elite] {
  background: url(../assets/img/items/bg-equipment.png) center no-repeat;
  background-size: 100%;
}
html span[red] {
  color: #E58161;
}
html span[yellow] {
  color: #FBDA67;
}
html span[green] {
  color: #9CE461;
}
html span[blue] {
  color: #90C8DF;
}
html span[purple] {
  color: #F87CC2;
}
html span[gray] {
  color: #8D94AC;
}
html span[invisible] {
  color: #3E4E5B;
  text-shadow: none;
}
html:focus {
  outline: none;
}

#app {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  position: relative;
  transition: 0.125s linear;
}
#app #body-shadow {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #1B0B22 100%);
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
}
#app #footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 12px 12px;
}
#app #footer p {
  color: #8D94AC;
  font-size: 14px;
}
#app #footer p:not(:last-of-type) {
  margin-bottom: 4px;
}
@media (max-width: 750px) {
  #app #footer {
    padding: 12px;
  }
}

#container {
  -moz-column-gap: 12px;
       column-gap: 12px;
  display: grid;
  grid-template-columns: minmax(0, 100%) minmax(0, 364px);
  margin: 0 auto;
  max-width: 1080px;
  min-height: calc(100vh - 48px);
  padding: 24px 12px;
  position: relative;
  row-gap: 12px;
}
@media (max-width: 750px) {
  #container {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    padding: 24px 12px;
  }
}
#container #display-pane {
  height: -moz-min-content;
  height: min-content;
  scroll-margin: 48px;
}
@media (max-width: 750px) {
  #container #display-pane {
    scroll-margin: 11px;
  }
}
#container #display-pane #item-thumbnail {
  border: 4px solid #868686;
  height: 118px;
  margin: 12px 0 24px;
  width: 118px;
  position: relative;
}
#container #display-pane #item-thumbnail .wrapper {
  width: 100%;
}
#container #display-pane #item-thumbnail img {
  height: 90%;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}
#container #display-pane table {
  margin-top: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3333333333);
}
#container #display-pane table td {
  background-color: #4D5E6E;
  font-size: 18px;
  outline: 2px solid #868686;
  padding: 6px;
  width: 96px;
}
#container #display-pane table td:last-child {
  color: #ECCE78;
  text-align: end;
}
#container #display-pane #item-synergies .content {
  padding: 6px;
}
#container #display-pane #item-synergies ul {
  -moz-column-gap: 6px;
       column-gap: 6px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 47px);
  justify-content: start;
  row-gap: 6px;
}
#container #display-pane #item-synergies ul:not(:last-of-type) {
  margin-bottom: 12px;
}
#container #select-pane {
  height: -moz-min-content;
  height: min-content;
}
#container #select-pane #item-select {
  -moz-column-gap: 6px;
       column-gap: 6px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 47px);
  max-height: 256px;
  justify-content: space-around;
  overflow: hidden scroll;
  row-gap: 6px;
  padding: 6px;
  position: relative;
  scrollbar-width: none;
}
#container #select-pane #item-select::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=style.css.map */