// bombardier font
@font-face {
    font-family: 'Bombardier';
    src: url(../fonts/Bombardier.ttf);
}

// breakpoint mixin for responsive
@mixin atBreakpoint($maxWidth) {
    @media (max-width: $maxWidth) {
        @content;
    }
}

@mixin aboveBreakpoint($minWidth) {
    @media (min-width: $minWidth) {
        @content;
    }
}

// color palette
$colors: (
    light_yellow: #FAFDC3,
    yellow: #FFFF58,
    dark_yellow: #EEE287,
    darker_yellow: #A7954F,

    light_gray_blue: #4D5E6E,
    gray_blue: #3E4E5B,
    dark_gray_blue: #252F38,
    darker_gray_blue: #1E252B,

    bg_body: #10051A,
    bg_light_tile: #1B0B22,
    
    border_pane: #868686,

    outline_pane: #25253F,

    text_white: #FFFFFF,
    text_black: #262626,
    text_gray: #8D94AC,
    text_red: #E58161,
    text_yellow: #FBDA67,
    text_green: #9CE461,
    text_gold: #ECCE78,
    text_blue: #90C8DF,
    text_purple: #F87CC2,
    text_light_gray: #868686,
    text_shadow: #00000055,
);

// reset
* {
    box-sizing: border-box;
    font-family: 'Bombardier';
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
    
    h2, a, p, span {
        width: fit-content;
        cursor:default;
    }

    button {
        background: none;
        border: none;
    }

    &:not(button):focus {
        outline: none;
    }
}

// common styles
.pane {
    border: 4px solid map-get($colors, border_pane);
    background-color: map-get($colors, gray_blue);
    padding: 12px;
    text-shadow: 2px 2px 2px map-get($colors, text_shadow);
    position: relative;

    .corners, &.corners {
        &::before, &::after {
            background-color: map-get($colors, text_white);
            content: '';
            clip-path: polygon(0 0, 100% 0, 75% 25%, 25% 25%, 25% 75%, 0 100%);
            height: 16px;
            position: absolute;
            top: -4px;
            width: 16px;
        }
    
        &::before {
            left: -4px;
        }
    
        &::after {
            right: -4px;
            transform: rotate(90deg);
        }
    
        .wrapper {
            &::before, &::after {
                background-color: map-get($colors, text_white);
                bottom: -4px;
                content: '';
                clip-path: polygon(0 0, 100% 0, 75% 25%, 25% 25%, 25% 75%, 0 100%);
                height: 16px;
                position: absolute;
                width: 16px;
            }
        
            &::before {
                left: -4px;
                transform: rotate(270deg);
            }
        
            &::after {
                right: -4px;
                transform: rotate(180deg);
            }
        }
    }

    .heading {
        margin-bottom: 12px;
        
        h2 {
            color: map-get($colors, text_white);
            font-size: 32px;
            margin-bottom: 4px;
        }

        p {
            color: map-get($colors, text_light_gray);
            font-size: 18px;
        }
    }

    .content {
        background-color: map-get($colors, dark_gray_blue);
        border: 4px solid map-get($colors, darker_gray_blue);
    }

    .info {
        color: map-get($colors, text_white);

        .content {
            padding: 12px;
        }
    }

    .block {
        background-color: map-get($colors, gray_blue);
        border: 4px solid map-get($colors, light_gray_blue);
        padding: 12px;

        details {
            position: relative;

            img {
                pointer-events: all;
            }
            
            summary::-webkit-details-marker {
                display: none;
            }

            summary::after {
                @include aboveBreakpoint(751px) {
                    display: none;
                }
            }

            &:not(open) summary:after {
                background-image: url(../assets/icon/expand.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 16px;
                content: '';
                height: 22px;
                position: absolute;
                right: 0;
                top: 0;
                width: 22px;
            }

            &[open] summary::after {
                background-image: url(../assets/icon/collapse.svg);
            }

            @include aboveBreakpoint(751px) {
                pointer-events: none;
            }
        }

        .title {
            display: block;
            margin-bottom: 8px;
            position: relative;
            font-size: 20px;

            &::after {
                background-color: map-get($colors, text_white);
                bottom: -2px;
                box-shadow: 2px 2px 2px map-get($colors, text_shadow);
                content: '';
                height: 2px;
                left: -2px;
                position: absolute;
                width: calc(100% + 4px);
            }

            &:not(:first-child) {
                margin-top: 12px;
            }
        }
        
        p {
            font-size: 18px;
            line-height: 24px;

            &:not(.title, :last-child, #item-synergies p) {
                margin-bottom: 6px;
            }
        }

        &:not(:first-child) {
            margin-top: 12px;
        }
    }

    .item {
        border: 1px solid map-get($colors, border_pane);
        height: 47px;
        
        a {
            display: block;
            height: 100%;
            position: relative;
            width: 100%;
    
            &[active] {
                outline: 2px solid map-get($colors, dark_yellow);
                outline-offset: 3px;
    
                &:before, &:after {
                    background-color: map-get($colors, light_yellow);
                    border: 1px solid map-get($colors, darker_yellow);
                    content: '';
                    transform: rotate(45deg);
                    z-index: 10;
                }
    
                &::before {
                    bottom: -9px;
                    height: 10px;
                    left: calc((100% - 10px) / 2);
                    position: absolute;
                    width: 10px;
                }
            
                &::after {
                    bottom: -7px;
                    height: 6px;
                    left: calc((100% - 6px) / 2);
                    position: absolute;
                    width: 6px;
                }
            }
    
            img {
                display: block;
                left: 5%;
                position: relative;
                width: 90%;
                top: 5%;
            }
    
            @media (hover :hover) {
                &:hover {
                    &:not([active]) {
                        cursor: pointer;
                        outline-offset: -1px;
                        outline: 2px solid map-get($colors, dark_yellow);
                    }
                }
            }
            
            &:focus:not([active]) {
                outline-offset: -1px;
                outline: 2px solid map-get($colors, dark_yellow);
            }
        }
    }
}

// custom attributes
html {
    background-color: map-get($colors, bg_body);

    body {
        background: linear-gradient(135deg, map-get($colors, bg_light_tile) 25%, transparent 25%),
            linear-gradient(225deg, map-get($colors, bg_light_tile) 25%, transparent 25%),
            linear-gradient(315deg, map-get($colors, bg_light_tile) 25%, transparent 25%),
            linear-gradient(45deg, map-get($colors, bg_light_tile) 25%, transparent 25%);
        background-color: map-get($colors, bg_body);
        background-position: top center;
        background-size: 40px 40px;
    }

    [rarity="common"] {
        background: url(../assets/img/items/bg-common.png) center no-repeat;
        background-size: 100%;
    }
    
    [rarity="uncommon"] {
        background: url(../assets/img/items/bg-uncommon.png) center no-repeat;
        background-size: 100%;
    }
   
    [rarity="legendary"] {
        background: url(../assets/img/items/bg-legendary.png) center no-repeat;
        background-size: 100%;
    }
   
    [rarity="boss"], [rarity="stage"] {
        background: url(../assets/img/items/bg-boss.png) center no-repeat;
        background-size: 100%;
    }
    
    [rarity="void"] {
        background: url(../assets/img/items/bg-void.png) center no-repeat;
        background-size: 100%;
    }
    
    [rarity="lunar"] {
        background: url(../assets/img/items/bg-lunar.png) center no-repeat;
        background-size: 100%;
    }

    [rarity="equipment"], [rarity="elite"] {
        background: url(../assets/img/items/bg-equipment.png) center no-repeat;
        background-size: 100%;
    }

    span {
        &[red] {
            color: map-get($colors, text_red);
        }
        
        &[yellow] {
            color: map-get($colors, text_yellow);
        }
        
        &[green] {
            color: map-get($colors, text_green);
        }
        
        &[blue] {
            color: map-get($colors, text_blue);
        }
        
        &[purple] {
            color: map-get($colors, text_purple);
        }
        
        &[gray] {
            color: map-get($colors, text_gray);
        }
        
        &[invisible] {
            color: map-get($colors, gray_blue);
            text-shadow: none;
        }
    }

    &:focus {
        outline: none;
    }
}

// application styles
#app {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    height: fit-content;
    min-height: 100vh;
    position: relative;
    transition: .125s linear;

    #body-shadow {
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, map-get($colors, bg_light_tile) 100%);
        height: 100vh;
        position: fixed;
        width: 100%;
        z-index: -1;
    } 

    #footer {
        position: relative;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
        max-width: 1080px;
        padding: 0 12px 12px;
    
        p {
            color: map-get($colors, text_gray);
            font-size: 14px;

            &:not(:last-of-type) {
                margin-bottom: 4px;
            }
        }
    
        @include atBreakpoint(750px) {
            padding: 12px;
        }
    }
}

// container styles 
#container {
    column-gap: 12px;
    display: grid;
    grid-template-columns: minmax(0, 100%) minmax(0, 364px);
    margin: 0 auto;
    max-width: 1080px;
    min-height: calc(100vh - 48px);
    padding: 24px 12px;
    position: relative;
    row-gap: 12px;

    @include atBreakpoint(750px) {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        padding: 24px 12px;
    }

    #display-pane {
        height: min-content;
        scroll-margin: 48px;

            @include atBreakpoint(750px) {
                scroll-margin: 11px;
        }

        #item-thumbnail {
            border: 4px solid map-get($colors, border_pane);
            height: 118px;
            margin: 12px 0 24px;
            width: 118px;
            position: relative;

            .wrapper {
                width: 100%;
            }

            img {
                height: 90%;
                left: 5%;
                position: absolute;
                top: 5%;
                width: 90%;
            }
        }        

        table {
            margin-top: 6px;
            box-shadow: 2px 2px 2px map-get($colors, text_shadow);

            td {
                background-color: map-get($colors, light_gray_blue);
                font-size: 18px;
                outline: 2px solid map-get($colors, border_pane);
                padding: 6px;
                width: 96px;
                
                &:last-child {
                    color: map-get($colors, text_gold);
                    text-align: end;
                }
            }
        }

        #item-synergies {
            .content {
                padding: 6px;
            }

            ul {
                column-gap: 6px;
                display: grid;
                grid-template-columns: repeat(auto-fit, 47px);
                justify-content: start;
                row-gap: 6px;

                &:not(:last-of-type) {
                    margin-bottom: 12px;
                }
            }
        }
    }

    #select-pane {    
        height: min-content;

        #item-select {
            column-gap: 6px;
            display: grid;
            grid-template-columns: repeat(auto-fit, 47px);
            max-height: 256px;
            justify-content: space-around;
            overflow: hidden scroll;
            row-gap: 6px;
            padding: 6px;
            position: relative;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}